Options All -Indexes
<IfModule mod_deflate.c>

AddOutputFilterByType DEFLATE text/html

AddOutputFilterByType DEFLATE text/css

AddOutputFilterByType DEFLATE text/javascript

AddOutputFilterByType DEFLATE text/xml

AddOutputFilterByType DEFLATE text/plain

AddOutputFilterByType DEFLATE image/x-icon

AddOutputFilterByType DEFLATE image/svg+xml

AddOutputFilterByType DEFLATE application/rss+xml

AddOutputFilterByType DEFLATE application/javascript

AddOutputFilterByType DEFLATE text/php

AddOutputFilterByType DEFLATE application/x-javascript

AddOutputFilterByType DEFLATE application/xml

AddOutputFilterByType DEFLATE application/xhtml+xml

AddOutputFilterByType DEFLATE application/x-font

AddOutputFilterByType DEFLATE application/x-font-truetype

AddOutputFilterByType DEFLATE application/x-font-ttf

AddOutputFilterByType DEFLATE application/x-font-otf

AddOutputFilterByType DEFLATE application/x-font-opentype

AddOutputFilterByType DEFLATE application/vnd.ms-fontobject

AddOutputFilterByType DEFLATE font/ttf

AddOutputFilterByType DEFLATE font/otf

AddOutputFilterByType DEFLATE font/opentype

# For Older Browsers Which Can't Handle Compression

BrowserMatch ^Mozilla/4 gzip-only-text/html

BrowserMatch ^Mozilla/4\.0[678] no-gzip

BrowserMatch \bMSIE !no-gzip !gzip-only-text/html

</IfModule>

# Disable Caching
<IfModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0
</IfModule>

<IfModule mod_expires.c>
          ExpiresActive on
          ExpiresByType image/jpg "access plus 1 hours"
          ExpiresByType image/png "access plus 1 hours"
          ExpiresByType image/gif "access plus 1 hours"
          ExpiresByType image/jpeg "access plus 1 hours"
          ExpiresByType text/html "access plus 1 hours"
	  ExpiresByType text/php "access plus 1 hours"
 	  ExpiresByType text/css "access plus 1 hours"
          ExpiresByType image/svg+xml "access plus 1 hours"
          ExpiresByType image/x-icon "access plus 1 hours"
          ExpiresByType application/pdf "access plus 1 hours"
          ExpiresByType text/javascript "access plus 1 hours"
          ExpiresByType application/x-javascript "access plus 1 hours"
          ExpiresByType application/javascript "access plus 1 hours"
</IfModule>

RewriteEngine On 
RewriteCond %{HTTPS} off 
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php
RewriteRule ^(canitas)$ tienda.php?landing=$1
RewriteRule ^(villaurquiza)$ tienda.php?landing=$1
RewriteRule ^(villadevoto)$ tienda.php?landing=$1
RewriteRule ^(belgrano)$ tienda.php?landing=$1
RewriteRule ^(recoleta)$ tienda.php?landing=$1
RewriteRule ^(caballito)$ tienda.php?landing=$1
RewriteRule ^(acassuso)$ tienda.php?landing=$1
RewriteRule ^(nordelta)$ tienda.php?landing=$1
RewriteRule ^(olivos)$ tienda.php?landing=$1
RewriteRule ^(tom)$ tienda.php?landing=$1
RewriteRule ^(sanmiguel)$ tienda.php?landing=$1
RewriteRule ^(parqueleloir)$ tienda.php?landing=$1
RewriteRule ^(lomasdezamora)$ tienda.php?landing=$1
RewriteRule ^(quilmes)$ tienda.php?landing=$1
RewriteRule ^(montegrande)$ tienda.php?landing=$1
RewriteRule ^(laplata)$ tienda.php?landing=$1
RewriteRule ^(olavarria)$ tienda.php?landing=$1
RewriteRule ^(saavedra)$ tienda.php?landing=$1

RewriteRule ^(blog)$ blog.php
RewriteRule ^(nosotros)$ nosotros.php
RewriteRule ^(home)$ index.php
RewriteRule ^(franquicias)$ franquicias.php




RewriteRule ^(cascosparabicicleta)$ noticia.php?n=$1
RewriteRule ^(bicicletasparachicos)$ noticia.php?n=$1
RewriteRule ^(beneficiosdeandarenbicicleta)$ noticia.php?n=$1
RewriteRule ^(portabicicletaparaauto)$ noticia.php?n=$1
RewriteRule ^(circuitosbicicletabuenosaires)$ noticia.php?n=$1
RewriteRule ^(comoelegirunabicicleta)$ noticia.php?n=$1
RewriteRule ^(elongacionespostbicicleteada)$ noticia.php?n=$1
RewriteRule ^(asdsadsadsad)$ noticia.php?n=$1
RewriteRule ^(agfasgasgsaga)$ noticia.php?n=$1
RewriteRule ^(fasfasf)$ noticia.php?n=$1
